.card {
  position: relative;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  h1 {
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.4rem;
  }

  span {
    display: inline-block;
    text-align: left;
    font-size: 0.8rem;
    width: 100%;
  }

  .body {
    text-align: left;
  }

  .remove {
    border: none;
    border-radius: 3px;
    background-color: tomato;
    color: #eaeaea;
    position: absolute;
    height: 26px;
    top: 0;
    right: 0;
    transform: translateX(100%);
  }
}
